In [116]:
import pandas as pd
import subprocess
import numpy as np
from math import sin, cos, sqrt, atan2, radians # Para calcular distacias entre 2 ubicaciones (lat, long)
from datetime import datetime #Para categorizar las horas
import pandas_profiling
import matplotlib
import scipy

In [117]:
#Rutas a los csv generados con OpenRefine
_ruta_motivos_viaje='Viajes_bogota_preprocessing-sinpicos.csv' 
_ruta_troncales_transmi = 'troncales.csv'

#Ruta del archivo csv de salida
_ruta_salida_arbol='arbol-preprocessed.csv'

# Leer el archivo

In [118]:

_df_viajes= pd.read_csv(_ruta_motivos_viaje)
_df_troncales= pd.read_csv(_ruta_troncales_transmi)


_df_viajes.columns = ['motivo viaje','hora inicio', 'hora fin', 'latitud origen', 'latitud destino', 'longitud origen', 
                      'longitud destino', 'duracion viaje', 'dia habil']
_df_troncales.columns = ['codigo troncal', 'longitud', 'latitud']


#Reemplazar las comillas dobles por simples en los nombres. 
#_df['nombre']=_df['nombre'].str.replace('"','-')

# Calcular distancias
Método que calcula las distancias dadas la latitud y la longitud de 2 ubicaciones

In [119]:
def distancia(latitud1, longitud1, latitud2, longitud2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(latitud1)
    lon1 = radians(longitud1)
    lat2 = radians(latitud2)
    lon2 = radians(longitud2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

# Combinar datasets
Se consolida en un solo CSV las 2 bases de datos a usar

In [120]:
#Motivos de viaje
_latitudes_origen =_df_viajes['latitud origen']
_latitudes_destino =_df_viajes['latitud destino']
_longitudes_origen =_df_viajes['longitud origen']
_longitudes_destino =_df_viajes['longitud destino']

#Troncales transmi
_latitud_troncales = _df_troncales['latitud']
_longitud_troncales = _df_troncales['longitud']
_troncal = _df_troncales['codigo troncal']

In [121]:
def insertarNuevoValor(lat, lon, name):
    troncales = []
    for i in range(len(lat)):
        distancia_minima = -1
        troncal = ""
        
        for y in range(len(_latitud_troncales)):
            dist = distancia(lat[i], lon[i], _latitud_troncales[y], _longitud_troncales[y])
            if distancia_minima == -1 or distancia_minima > dist:
                distancia_minima = dist
                troncal = _troncal[y]
                
        troncales.append(troncal)
    _df_viajes[name] = troncales

In [122]:
insertarNuevoValor(_latitudes_origen, _longitudes_origen, 'troncal origen')
insertarNuevoValor(_latitudes_destino, _longitudes_destino, 'troncal destino')

# Generalizar motivos de viaje

In [123]:
_df_viajes['motivo viaje'].value_counts()

Volver a casa                                     8014
Trabajar                                          3900
Estudiar                                          1686
Tramites                                           808
Recibir atencion en salud                          747
Otra cosa                                          682
Asuntos de Trabajo                                 301
Ir a ver a alguien                                 244
Compras                                            174
Recreacion                                          67
Buscar / Dejar alguien bajo su cuidad               62
Buscar/dejar dejar algo                             58
Buscar trabajo                                      50
Buscar / dejar a alguien que no esta bajo su c      20
Comer / Tomar algo                                   7
Name: motivo viaje, dtype: int64

In [124]:
# Se generaliza asuntos de trabajo
col_loc_motivo = _df_viajes.columns.get_loc('motivo viaje')

indices_asuntos_trabajo = np.concatenate( (np.where(_df_viajes['motivo viaje'] == 'Trabajar')[0], 
                                            np.where(_df_viajes['motivo viaje'] == 'Asuntos de Trabajo')[0],
                                            np.where(_df_viajes['motivo viaje'] == 'Buscar trabajo')[0])
                                        )
for imam in indices_asuntos_trabajo:
    _df_viajes.iloc[imam, col_loc_motivo] = 'Asuntos de trabajo'

# Se generaliza otra cosa (Ir a ver a alguien, Compras, Recreación, Buscar alguien / algo, Comer / Tomar algo)
indices_otra_cosa = np.concatenate( (np.where(_df_viajes['motivo viaje'] == 'Comer / Tomar algo')[0], 
                                     np.where(_df_viajes['motivo viaje'] == 'Recreacion')[0],
                                     np.where(_df_viajes['motivo viaje'] == 'Compras')[0],
                                     np.where(_df_viajes['motivo viaje'] == 'Buscar / Dejar alguien bajo su cuidad')[0],
                                     np.where(_df_viajes['motivo viaje'] == 'Buscar/dejar dejar algo')[0],
                                     np.where(_df_viajes['motivo viaje'] == 'Buscar / dejar a alguien que no esta bajo su c')[0],
                                     np.where(_df_viajes['motivo viaje'] == 'Ir a ver a alguien')[0],
                                     np.where(_df_viajes['motivo viaje'] == 'Otra cosa')[0]) 
                                  )
for imav in indices_otra_cosa:
    _df_viajes.iloc[imav, col_loc_motivo] = 'Otra cosa'

In [125]:
_df_viajes['motivo viaje'].value_counts()

Volver a casa                8014
Asuntos de trabajo           4251
Estudiar                     1686
Otra cosa                    1314
Tramites                      808
Recibir atencion en salud     747
Name: motivo viaje, dtype: int64

In [126]:
# Primero se borra la hora final (Mariaaa hay que borrar eso desde el comienzo)
_df_viajes = _df_viajes.drop('hora fin', 1)
_df_viajes = _df_viajes.drop('latitud origen', 1)
_df_viajes = _df_viajes.drop('latitud destino', 1)
_df_viajes = _df_viajes.drop('longitud origen', 1)
_df_viajes = _df_viajes.drop('longitud destino', 1)

# Categorizar según horas

### De lunes a sábado las categorías son las siguientes:

valle 1: 4:00 - 5:59 AM

pico 1: 6:00 - 8:29 

valle 2: 8:30 - 9:29 

pico 2: 9:30 - 15:29

valle 3: 15:30 - 16:29

pico 3: 16:30 - 19:29

valle 4: 19:30 - fin de operación 


### Para domingos y festivos:

valle dyf: Todo el día

In [127]:
horas_limite = {
    'valle_1': '04:00:00',
    'pico_1': '06:00:00',
    'valle_2': '08:30:00',
    'pico_2': '09:30:00',
    'valle_3': '15:30:00',
    'pico_3': '16:30:00',
    'valle_4': '19:30:00',
    'fin_dia': '00:00:00'
}

In [128]:
formato_hora_limite = '%H:%M:%S'    

def categoria_por_hora(hora, dia):
    valle_1 = datetime.strptime( horas_limite['valle_1'], formato_hora_limite).time()
    pico_1 = datetime.strptime( horas_limite['pico_1'], formato_hora_limite).time()
    valle_2 = datetime.strptime( horas_limite['valle_2'], formato_hora_limite).time()
    pico_2 = datetime.strptime( horas_limite['pico_2'], formato_hora_limite).time()
    valle_3 = datetime.strptime( horas_limite['valle_3'], formato_hora_limite).time()
    pico_3 = datetime.strptime( horas_limite['pico_3'], formato_hora_limite).time()
    valle_4 = datetime.strptime( horas_limite['valle_4'], formato_hora_limite).time()
    fin_dia = datetime.strptime( horas_limite['fin_dia'], formato_hora_limite).time()
    
    categoria = 'no-definida'
    if dia == 0: 
        categoria = 'valle-dyf'
    else:
        if hora >= valle_1 and hora < pico_1:
            categoria = 'Valle-1'
        elif hora >= pico_1 and hora < valle_2:
            categoria = 'Pico-1'
        elif hora >= valle_2 and hora < pico_2:
            categoria = 'Valle-2'
        elif hora >= pico_2 and hora < valle_3:
            categoria = 'Pico-2'
        elif hora >= valle_3 and hora < pico_3:
            categoria = 'Valle-3'
        elif hora >= pico_3 and hora < valle_4:
            categoria = 'Pico-3'
        elif hora >= valle_4 and hora < fin_dia:
            categoria = 'Valle-4'
    
    return categoria

In [129]:
_horas_iniciales =_df_viajes['hora inicio']
_dia_habil = _df_viajes['dia habil']
categorias_horas_iniciales = []

for i in range(len(_horas_iniciales)):
    hora_final = datetime.strptime(_horas_iniciales[i], formato_hora_limite).time()
    categorias_horas_iniciales.append(categoria_por_hora(hora_final, _dia_habil[i]))

_df_viajes['categoria_hora'] = categorias_horas_iniciales

In [130]:
#Borro columnas que ya no necesito
_df_viajes = _df_viajes.drop('hora inicio', 1)

In [132]:
_df_viajes

,motivo viaje,duracion viaje,dia habil,troncal origen,troncal destino,categoria_hora
0,Asuntos de trabajo,00:33:00,1,G,A,Pico-3
1,Volver a casa,00:47:00,1,A,G,no-definida
2,Asuntos de trabajo,02:00:00,0,L,C,valle-dyf
3,Volver a casa,01:10:00,0,C,F,valle-dyf
4,Asuntos de trabajo,01:10:00,0,F,B,valle-dyf
5,Volver a casa,01:10:10,0,B,F,valle-dyf
6,Estudiar,01:20:00,0,F,E,valle-dyf
7,Volver a casa,01:20:00,0,E,F,valle-dyf
8,Estudiar,00:46:00,0,F,A,valle-dyf
9,Volver a casa,01:00:00,0,A,F,valle-dyf
10,Estudiar,00:46:00,0,F,E,valle-dyf
11,Volver a casa,01:00:00,0,E,F,valle-dyf
12,Estudiar,02:00:00,0,G,J,valle-dyf
13,Volver a casa,01:50:00,0,J,G,valle-dyf
14,Asuntos de trabajo,01:40:00,0,F,D,valle-dyf
15,Volver a casa,01:00:00,0,D,F,valle-dyf
16,Asuntos de trabajo,00:50:00,0,F,E,valle-dyf
17,Volver a casa,01:30:00,0,E,F,valle-dyf
18,Asuntos de trabajo,00:50:00,0,F,E,valle-dyf
19,Volver a casa,01:30:00,0,E,F,valle-dyf
20,Asuntos de trabajo,01:00:00,0,F,B,valle-dyf
21,Volver a casa,00:43:00,0,B,F,valle-dyf
22,Asuntos de trabajo,01:20:00,0,G,A,valle-dyf
23,Volver a casa,01:00:00,0,A,G,valle-dyf
24,Asuntos de trabajo,01:20:00,0,G,A,valle-dyf
25,Volver a casa,01:08:33,0,A,G,valle-dyf
26,Asuntos de trabajo,01:54:00,0,G,J,valle-dyf
27,Volver a casa,01:37:00,0,J,G,valle-dyf
28,Otra cosa,00:43:00,0,F,D,valle-dyf
29,Volver a casa,00:30:00,0,D,F,valle-dyf
...,...,...,...,...,...,...
16790,Volver a casa,01:21:00,1,A,C,Pico-2
16791,Estudiar,02:31:00,1,F,G,Pico-1
16792,Volver a casa,03:00:00,0,E,C,valle-dyf
16793,Volver a casa,02:00:00,0,A,C,valle-dyf
16794,Otra cosa,01:30:00,1,A,C,Pico-3
16795,Otra cosa,01:30:00,1,A,C,Pico-3
16796,Volver a casa,02:00:00,1,G,G,Pico-3
16797,Asuntos de trabajo,02:46:00,1,G,E,Pico-1
16798,Otra cosa,01:51:00,1,C,B,Pico-1
16799,Volver a casa,02:29:00,1,B,C,Pico-2
16800,Asuntos de trabajo,01:20:00,1,C,A,Pico-1
16801,Volver a casa,01:20:00,1,A,C,Pico-2
16802,Tramites,03:00:00,1,G,J,Pico-2
16803,Volver a casa,02:58:00,1,J,G,Pico-2
16804,Estudiar,02:00:00,1,G,J,Pico-1
16805,Volver a casa,02:59:00,1,J,G,Valle-3
16806,Asuntos de trabajo,02:49:00,1,G,D,Pico-1
16807,Volver a casa,02:49:00,1,D,G,Pico-2
16808,Asuntos de trabajo,02:00:00,1,G,A,Pico-1
16809,Volver a casa,02:54:00,1,A,G,Valle-3
16810,Tramites,01:25:00,1,C,A,Valle-1
16811,Volver a casa,01:21:00,1,A,C,Pico-1
16812,Asuntos de trabajo,03:00:00,1,C,A,Valle-2
16813,Volver a casa,01:20:00,1,A,C,Pico-2
16814,Asuntos de trabajo,02:00:00,1,G,J,Pico-1
16815,Volver a casa,02:00:00,1,J,G,Valle-3
16816,Asuntos de trabajo,02:00:00,1,G,B,Pico-1
16817,Volver a casa,01:50:00,1,B,G,no-definida
16818,Tramites,03:00:00,1,G,J,Pico-2
16819,Volver a casa,02:59:00,1,J,G,Pico-2

# Categorizar duración de viaje

Corto: 00:30:00 o menos

Medio: 00:31:00 - 01:30:00

Largo: 01:31:00 - 02:30:00

Muy largo: 02:31:00 o más

In [133]:
horas_fin_categorias = {
    'corto': '00:30:00',
    'medio': '01:30:00',
    'largo': '02:30:00',
}

In [134]:
formato_hora_limite = '%H:%M:%S'    

def categoria_por_tiempo_viaje(hora):
    corto = datetime.strptime( horas_fin_categorias['corto'], formato_hora_limite).time()
    medio = datetime.strptime( horas_fin_categorias['medio'], formato_hora_limite).time()
    largo = datetime.strptime( horas_fin_categorias['largo'], formato_hora_limite).time()
    
    if hora <= corto:
        categoria = 'Corto'
    elif hora <= medio:
        categoria = 'Medio'
    elif hora <= largo:
        categoria = 'Largo'
    else:
        categoria = 'Muy Largo'
    
    return categoria

In [135]:
_duracion =_df_viajes['duracion viaje']
categorias_tiempo_viajes = []

for hora in _duracion:
    hora_final = datetime.strptime(hora, formato_hora_limite).time()
    categorias_tiempo_viajes.append(categoria_por_tiempo_viaje(hora_final))

_df_viajes['categoria viaje'] = categorias_tiempo_viajes

In [136]:
#Elimino todas las filas que tengan la categoria de viaje como no-definida, ya que esto representa una inconsistencia 
#en los datos
_df_viajes = _df_viajes[_df_viajes.categoria_hora != 'no-definida']
#Borro columnas que ya no necesito
_df_viajes = _df_viajes.drop('duracion viaje', 1)

# Exportar como CSV - Árbol

Se exporta un CSV el cual se usará como input para clasificar en un árbol de decisión

In [137]:
#Exportar a csv
_df_viajes.to_csv(_ruta_salida_arbol, index=False, encoding='utf8' )

# Pandas Profiling

In [82]:
pandas_profiling.ProfileReport(_df_viajes)

# Binarizar los datos

In [112]:
_df_viajes['motivo viaje'].value_counts()

Volver a casa                7006
Asuntos de trabajo           4230
Estudiar                     1669
Otra cosa                    1252
Tramites                      797
Recibir atencion en salud     740
Name: motivo viaje, dtype: int64

In [1]:
_grouped =_df_viajes.groupby(_df_viajes.index)['troncal origen'].apply(lambda x: '|'.join(x)).reset_index()

NameError: name '_df_viajes' is not defined

In [83]:
_grouped

       index                               0
0          0  troncal origen|troncal destino
1          2  troncal origen|troncal destino
2          3  troncal origen|troncal destino
3          4  troncal origen|troncal destino
4          5  troncal origen|troncal destino
5          6  troncal origen|troncal destino
6          7  troncal origen|troncal destino
7          8  troncal origen|troncal destino
8          9  troncal origen|troncal destino
9         10  troncal origen|troncal destino
10        11  troncal origen|troncal destino
11        12  troncal origen|troncal destino
12        13  troncal origen|troncal destino
13        14  troncal origen|troncal destino
14        15  troncal origen|troncal destino
15        16  troncal origen|troncal destino
16        17  troncal origen|troncal destino
17        18  troncal origen|troncal destino
18        19  troncal origen|troncal destino
19        20  troncal origen|troncal destino
20        21  troncal origen|troncal destino
21        22  troncal origen|troncal destino
22        23  troncal origen|troncal destino
23        24  troncal origen|troncal destino
24        25  troncal origen|troncal destino
25        26  troncal origen|troncal destino
26        27  troncal origen|troncal destino
27        30  troncal origen|troncal destino
28        31  troncal origen|troncal destino
29        32  troncal origen|troncal destino
...      ...                             ...
15664  16789  troncal origen|troncal destino
15665  16790  troncal origen|troncal destino
15666  16791  troncal origen|troncal destino
15667  16792  troncal origen|troncal destino
15668  16793  troncal origen|troncal destino
15669  16794  troncal origen|troncal destino
15670  16795  troncal origen|troncal destino
15671  16796  troncal origen|troncal destino
15672  16797  troncal origen|troncal destino
15673  16798  troncal origen|troncal destino
15674  16799  troncal origen|troncal destino
15675  16800  troncal origen|troncal destino
15676  16801  troncal origen|troncal destino
15677  16802  troncal origen|troncal destino
15678  16803  troncal origen|troncal destino
15679  16804  troncal origen|troncal destino
15680  16805  troncal origen|troncal destino
15681  16806  troncal origen|troncal destino
15682  16807  troncal origen|troncal destino
15683  16808  troncal origen|troncal destino
15684  16809  troncal origen|troncal destino
15685  16810  troncal origen|troncal destino
15686  16811  troncal origen|troncal destino
15687  16812  troncal origen|troncal destino
15688  16813  troncal origen|troncal destino
15689  16814  troncal origen|troncal destino
15690  16815  troncal origen|troncal destino
15691  16816  troncal origen|troncal destino
15692  16818  troncal origen|troncal destino
15693  16819  troncal origen|troncal destino

[15694 rows x 2 columns]

# Obtener una columna por cada autor

In [77]:
#Transforma el dataset para obtener una columna binaria por cada autor. 
#Esto puede tardar bastante tiempo, dependiendo del tamaño del dataset.
_dummies=_grouped['entrevistado'].str.get_dummies('|')

KeyError: 'entrevistado'

In [11]:
#Agregar al dataset las columnas agrupadas
_df=pd.concat([_grouped, _dummies],axis=1)